
@{
    ViewBag.Title = "TodayDonor";
}
@using BBMS.Models
@model IEnumerable<Donor_Information>

<h2 class="page-title">Today's Donor</h2>

<table class="table table-bordered table-condensed">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>National Id</th>
        <th>Donating Type</th>       
        <th></th>
    </tr>

    @{
        if (Model.Count() > 0)
        {
            foreach (var x in Model)
            {
                <tr>
                    <td>@x.Donor.First_Name</td>
                    <td>@x.Donor.Last_Name</td>
                    <td>@x.Donor.National_ID</td>
                    <td>@x.Donor.Donate_Type</td>
                    <td>
                        <a href="@Url.Action("CollectBlood",new { id = x.Donor_No })" class="btn btn-sm btn-success">Enter Blood Info <i class="glyphicon glyphicon-tint" style="color:#b22e2e"></i></a>                 
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    <div class="alert alert-info">--No Records Available--+</div>
                </td>
            </tr>
        }

    }

</table>
