@model IEnumerable<BBMS.Models.Donor>

@{
    ViewBag.Title = "Edit Donor";
}

<h2 class="page-title">Donors List</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Add New <i class="glyphicon glyphicon-plus"></i></a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name   
        </th>
        <th>
            Natioanl Id
        </th>
        <th>
            Donate Type
        </th>
        <th></th>
    </tr>
    @{
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.First_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Last_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.National_ID)
                    </td>
                    <td>
                        @if(item.Donate_Type=="V")
                        {
                           <span>Volunteer</span>
                        }
                        else
                        {
                            <span>For Patient</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="@Url.Action("Edit",new { id = item.Donar_Id })">Edit <i class="glyphicon glyphicon-edit"></i></a>     
                        <a class="btn btn-sm btn-primary" href="@Url.Action("Details",new { id = item.Donar_Id })">Details <i class="glyphicon glyphicon-book"></i></a>  
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-sm btn-danger" href="@Url.Action("Delete",new { id = item.Donar_Id })">Delete <i class="glyphicon glyphicon-remove"></i></a>
                        }
                        
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <center>
                        <div class="alert-info" style="padding:15px">
                            --- No Donor in the List ---
                        </div>
                    </center>
                </td>
            </tr>
        }
    }

</table>
