
@{
    ViewBag.Title = "Index";
}
@using BBMS.Models
@model IEnumerable<Donor>
<h2>Index</h2>

@using (Html.BeginForm())
{<div class="form-horizontal">
        <h4>Home</h4>
    @{
            if(ViewBag.data==null)
            {
                <div class="alert-info hide">@ViewBag.data</div>
            }
            else
            {
                <div class="alert-info show">@ViewBag.data</div>
            }
         }       
        <hr />
        <div class="form-group text-center">
            <label class="control-label col-lg-offset-3 col-md-2">Natioanl Id:</label>
            <div class="col-lg-7 text-center">
                <input type="text" class="form-control" name="NatId" placeholder="Enter Natioanl Id..." />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-5 col-lg-7">
                <input type="submit" value="Search" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
     }
        @{
            if(Model!=null)
            {
                foreach (Donor d in Model)
                {
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.First_Name)
                        </dt>

                        <dd>
                            @d.First_Name
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Last_Name)
                        </dt>

                        <dd>
                            @d.Last_Name
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.National_ID)
                        </dt>

                        <dd>
                            @d.National_ID
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Donate_Type)
                        </dt>

                        <dd>
                            @d.Donate_Type
                        </dd>                        
                        <dt>
                            @Html.DisplayNameFor(model => model.Patient_Name)
                        </dt>

                        <dd>
                            @d.Patient_Name
                        </dd>
                    </dl>
                }
                <a href="/Donor/Details/@Model.FirstOrDefault().Donar_Id" class="btn btn-primary">Donate Again</a>
           }
    } 