
@{
    ViewBag.Title = "Index";
}
@using BBMS.Models
@using BBMS.Resources
@model IEnumerable<Donor>
<h2 class="page-title">Search Donor</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">       
    @{
        if (TempData["msg"] != null)
        {
            if (TempData["msg"].ToString().Contains("This"))
            {
                <div class="alert alert-warning show">@TempData["msg"].ToString()</div>
            }
            else
            {
                <div class="alert alert-success show">@TempData["msg"].ToString()</div>
            }
        }
        if (ViewBag.data == null)
        {
                <div class="alert alert-info hide">@ViewBag.data</div>
            }
            else
            {
                <div class="alert alert-info show">@ViewBag.data</div>
            }
         }       
        <hr />
        <div class="form-group text-center">
            <label class="control-label col-lg-offset-3 col-md-2">@BBMS_String.NationalId:</label>
            <div class="col-lg-7 text-center">
                <div id="loadingIcon" style="color: red; background-color: yellow; display: none;">
                    Loading ....
                </div>
                <input type="text" class="form-control" name="NatId" id="NatId" placeholder=@BBMS_String.EnterNationalId />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-5 col-lg-7">
                <input type="button" onKeyDown="if (event.keyCode == 13) { GetData(); }" onclick="GetData();" value=@BBMS_String.Search id="btnGet" class="btn btn-primary btn-block" />               
            </div>
        </div>
    </div>
     }
<table class="table table-bordered">
    <tr>
        <th>@BBMS_String.FirstName</th>
        <th>@BBMS_String.LastName</th>
        <th>@BBMS_String.NationalId</th>
        <th>@BBMS_String.DonateType</th>
        <th>@BBMS_String.PatientName</th>
        <th></th>
    </tr>
    <tbody id="searchResult">

    </tbody>
</table>
<script type="text/javascript">
    
    function GetData()
    {
        $("#loadingIcon").show();
        var output = $("#searchResult");
        output.empty();

        var natid = document.getElementById("NatId").value;        

        $.getJSON("@Url.Action("SearchNId", "Donor")", { NatId : natid }, function (data) {
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                if (item.Donate_Type == 'V')
                {
                    item.Donate_Type = "Volunteer";
                }
                else
                {
                    item.Donate_Type = "For Paitent";
                }
                if (item.Patient_Name == null)
                {
                    item.Patient_Name = "N/A";
                }
                output.append("<tr>"
                    + "<td>" + item.First_Name + "</td>"
                    + "<td>" + item.Last_Name + "</td>"
                    + "<td>" + item.National_ID + "</td>"
                    + "<td>" + item.Donate_Type + "</td>"
                    + "<td>" + item.Patient_Name + "</td>"
                    + "<td>" + "<a class='btn btn-sm btn-primary' href=/Donor/DonateAgain?id=" + item.Donar_Id + ">Donate <i class='glyphicon glyphicon-heart'></i></a></td></tr>"
                    );
            }
        });
        $("#loadingIcon").hide();


        
    }
</script>