
@{
    ViewBag.Title = "Donors";
}

<h2 class="page-title">Report</h2>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Donor Report</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Donate Type", htmlAttributes: new { @class="control-lable col-md-2"})
            <div class="col-md-10">
              <select name="DonateType" class="form-control">
                  <option value="">All</option>
                  <option value="V">Volunter</option>
                  <option value="P">Patient</option>
              </select>
            </div>

        </div>
        <div class="form-group">
            @Html.Label("From",htmlAttributes: new { @class="control-lable col-md-2"})
            <div class="col-md-4">
                @Html.TextBox("DateFrom",null, new { @class= "form-control inline-icon", id="datefrom"})
                <i class="glyphicon glyphicon-calendar shift-right"></i>
            </div>
            @Html.Label("To", htmlAttributes: new { @class = "control-lable col-md-1" })
            <div class="col-md-4">
                @Html.TextBox("DateTo",null, new { @class = "form-control inline-icon", id = "dateTo" } )
                <i class="glyphicon glyphicon-calendar shift-right"></i>
            </div>
        </div>
        <div class="form-group">

        </div>
    </div>

}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    $(function () {        
        $("#datefrom").datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true          
        });
        $("#dateTo").datepicker({
            format: 'mm/dd/yyyy',
            autoclose:true
        });
    });
</script>

